/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

:root {
  --demo-blue: rgb(49, 45, 42);
  --demo-red: #ea1d2d;
  --demo-yellow: #fcd700;
  --demo-grey: #a8a9ac;

  --clock-neutral20: rgb(245, 244, 242);
  --clock-neutral50: rgb(212, 207, 202);
  --clock-ocean180: rgb(2, 94, 126);
  --clock-ocean190: rgb(22, 21, 19);
  --clock-oracle: #c74634;

  --ut-header-background-colour: var(--demo-grey);

  --oj-current-bg-color: var(--demo-blue);
  --oj-body-bg-color: var(--demo-blue);
  --oj-core-text-color-primary: var(--clock-ocean190);
}

button.addbtn {
  border: none;
}

.addbtn {
  width: 50px;
  height: 50px;
  background-color: var(--clock-oracle);

  box-shadow: 0 6px 10px 0 #666;

  font-size: 50px;
  line-height: 50px;
  color: white;
  text-align: center;

  position: fixed;
  right: 25px;
  bottom: 75px;

  transition: all 0.1s ease-in-out;
}

.addbtn:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  cursor: pointer;
}

button.addbtn:focus,
button.addbtn__content:focus {
  outline: none;
}
button.addbtn:focus-visible {
  outline: dotted black;
}

button.addbtn2 {
  border: none;
  outline: none;
}

.addbtn2 {
  background-color: var(--demo-blue);
  transition: all 0.1s ease-in-out;
}

.addbtn2:hover {
  box-shadow: 0 1px 3px 0 #666;
  transform: scale(1.005);
  cursor: pointer;
}
.addbtn2:focus {
  box-shadow: 0 1px 3px 0 #666;
  transform: scale(1.005);
  cursor: pointer;
  border: unset;
}

button.addbtn2:focus,
button.addbtn2__content:focus {
  outline: none;
}
button.addbtn2:focus-visible {
  outline: none;
}

.clock-settings-ico {
  font-size: 20px;
}
.clock-content-container {
  height: calc(100vh - 100px);
}

.clock-listview-sizing {
  height: 350px;
}

.clock-clock-container {
  color: var(--clock-neutral20);
  text-align: center;
}
.clock-event-container {
  color: var(--clock-neutral20);
  margin: auto;
  text-align: center;
}

.footer {
  height: 100px;
  margin-right: 50px;
}

.p {
  font-style: italic;
  color: var(--clock-neutral20);
}

.clock-event-panel-left {
  height: calc(100vh - 101px);
  padding-left: 0vw;
  flex-direction: column;
}
.clock-event-panel-right {
  height: calc(100vh - 101px);
  padding-right: 0vw;
  flex-direction: column;
}
.clock-event-panel-middle {
  margin-left: 25vw;
  height: calc(100vh - 101px);
  flex-direction: column;
}

.clock-content-middle {
  min-width: 452px;
}

.clock-video-container {
  color: var(--clock-neutral20);
  padding-bottom: 75px;
  width: 100%;
  min-height: 100vh;
}

.clock-time-text-clock {
  font-style: normal;
  font-family: sans-serif;
  letter-spacing: 0.01rem;
  font-size: calc(10px + 0.75vw);
}

.clock-time-text-hero-label {
  font-size: calc(10px + 1vw);
  color: var(--clock-neutral20);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 0.5rem;
}

.clock-time-text-label {
  font-style: normal;
  font-family: sans-serif;
  font-size: calc(10px + 0.75vw);
  letter-spacing: 0.1rem;
}

.clock-time-text-label2 {
  font-style: normal;
  font-family: sans-serif;
  font-size: calc(10px + 0.75vw);
  letter-spacing: 0.1rem;
}

.clock-drawer-end {
  width: 23vw;
}
.clock-drawer-container {
  margin: 8px;
}
.clock-drawer-header {
  /*  */
}

.clock-drawer-content {
  /*  */
}

.clock-counter-text {
  color: var(--clock-neutral20);
  text-align: center;
  word-spacing: 1rem;
  font-size: calc(20px + 1.5vw);
  display: flex;
  justify-content: center;
}

.clock-counter-text-colon {
  color: var(--clock-neutral20);
  text-align: center;
  word-spacing: 1rem;
  font-size: calc(20px + 0.5vw);
  display: flex;
  justify-content: center;
}

.clock-time-text {
  font-style: italic;
}

.o-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: small;
}

.clock-event-text {
  color: var(--clock-neutral20);
}

.clock-counter-label {
  color: var(--clock-neutral20);
  font-family: sans-serif;
  font-size: small;
}
.clock-counter-container {
}

.clock-tag-icon {
  width: 89%;
  height: 89%;
  margin: auto;
  padding-top: 10vh;
  content: url(images/jet-logo.png);
}

.clock-tag-icon:before {
}

html:not([dir="rtl"]) .clock-tag-icon {
  padding-right: 4px;
  padding-bottom: 30px;
}

html[dir="rtl"] .clock-tag-icon {
  padding-left: 4px;
  padding-bottom: 30px;
}

.clock-tag-icon:before {
  display: inline;
}

.clock-oracle-icon {
  width: 719px;
  height: 100px;
  content: url(images/Powered_By_Oracle_Cloud_Logo_RGB_White-01.png);
}

.clock-oracle-icon:before {
}

html:not([dir="rtl"]) .clock-oracle-icon {
  padding-right: 4px;
}

html[dir="rtl"] .clock-oracle-icon {
  padding-left: 4px;
}

.clock-oracle-icon:before {
  display: inline;
}

.clock-line-icon {
  margin-top: 3.5vh;
  width: 300px;
  height: 2px;
  content: url(images/line.png);
  margin-bottom: 2.5vh;
}
